# Build artifacts
build/
/dist
.build
*.a
*.sqlite
/curl/src
**/dist/**

# Test artifacts
/coverage
unittest
**/node_modules/**
.env
package-lock.json

# iOS/macOS
*.xcworkspacedata
*.xcuserstate
*.xcbkptlist
*.plist

# Android
.gradle/
*.aar
local.properties
jniLibs/
*.apk
*.ap_
*.dex

# IDE
.vscode
.idea/
*.iml

# System
.DS_Store